<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleCalc(iOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>739B3D881BD8C2B300378662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739B3D9C1BD8C2B400378662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739B3DA71BD8C2B400378662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
